<section class="body">
<section class="wrapper">
    <div class="form signup">
        <header>Add User</header>
        <form action="/admin/addUser" method="post">
            <input type="text" name="fullname" placeholder="Full name" required>
            <input type="email" name="username" placeholder="Email address" required>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="Add User">
        </form>
    </div>
</section>
</section>