<div class="container my-5 px-5">
  <div class="float-end mb-5">
    <a class="btn btn-success" href="/admin/addUser">Add User</a>
  </div>
  <table class="table table-hover table-responsive" >
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">No</th>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Email</th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr class="text-center">
        <th scope="row">{{@index}}</th>
        <td>{{this.fullname}}</td>
        <td>{{this.username}}</td>
        <td>
          <a class="btn btn-info" href="/admin/edit/{{this._id}}">edit</a>
          <a class="btn btn-danger" onclick="return confirm('Are you sure delete {{this.fullname}}')"
           href="/admin/delete/{{this._id}}">delete</a>
          </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>