<section class="body">
    <section class="wrapper">
    <div class="form login">
        <header>Welcome Admin</header>
        <form action="/admin/login" method="post" name="login-form">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="LogIn">
        </form>
    </div>
    </section>
</section>