<style>
    .frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20%;      
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    form label{
        color: blue;
        font-size: 14px;
        text-align: center;
    }
    form input{
        padding: 10px;
        color: black;
        text-align: center;
    }

</style>


<div class="frame">
    <form action="/admin/update" method="post">
        <label for="fname">fullname</label>
        <input type="text" name="fname" value="{{user.fullname}}">

        <label style="margin-top: 10px;" for="username">username or email</label>
        <input type="email" name="username" value="{{user.username}}">
        <input type="text" name="userId" value="{{user._id}}" hidden>

        <input style="margin-top: 20px;" type="submit" value="Submit">
    </form>
</div>