{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <a class="navbar-brand" href="/">Hill Palace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="#">DashBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">LogIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
      </li>
    </ul>
  </div>
</nav> --}}


<nav class="navbar navbar-expand-lg navbar-light bg-info px-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hill Palace</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-5 " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{#if currUser}}
            <span class="text-uppercase">{{currUser.fullname}}</span>
            {{else}}
            Account
            {{/if}}

          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">

            {{#if currUser}}
            <li><a class="dropdown-item text-center" href="/logout">Logout</a></li>
            {{else}}
            <li><a class="dropdown-item text-center" href="/login">Login</a></li>
            <li><a class="dropdown-item text-center" href="/signup">Signup</a></li>
            {{/if}}
          
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>