<style>
    body {
        width: 100%;
        height: 100vh;
        background-image: url('../images/the-hill-palace-museum-3.jpg');
    }
</style>

<section class="container">
    <div class="row text-center text-danger mt-5">
        <h1>
            {{#if currUser}}
            <span class="text-uppercase">{{currUser.fullname}}</span>
            {{else}}
            Welcome
            {{/if}}

        </h1>
    </div>
</section>