<section class="body">
<section class="wrapper">
    <div class="form signup">
        <header>Signup</header>
        <form action="/signup-action" method="post">
            <input type="text" name="fullname" placeholder="Full name" required>
            <input type="email" name="username" placeholder="Email address" required>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="SignUp">
        </form>
        <label>Already have an Account? <a href="/login">Log In</a></label>
    </div>
</section>
</section>