
<section class="body">
    <section class="wrapper">
    <div class="form login">
        <header>Login</header>
        <form action="/login-action" method="post" name="login-form">
            <input type="email" name="username" placeholder="Email address" required>
            <input type="password" name="password" placeholder="Password" required>

            <label>Need an Account? <a href="/signup">Sign up</a></label>
            <input type="submit" value="LogIn">
        </form>
    </div>
    </section>
</section>