
/* for user index login & signup page */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c8ebfc;
}
.wrapper{
  position: relative;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 60px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.form header{
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.form input{
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #ffff;
}
.login label{
  font-size: 14px;
  color: white;
}
.login label a{
  text-decoration: none;
  color: #333;
}
.signup label{
  color: #ffff;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 30px;
}
.signup label a{
  color: #333;
  text-decoration: none;
}
.form label a:hover{
  text-decoration: underline;
  color: #000;
}
.form input[type="submit"]{
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}
.form input[type="submit"]:hover{
  background: #03254c;
  color: white;
  font-weight: 600;
  box-shadow: 5px 5px 10px #000;
  transition: .20s;
}